:root {
    --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.main {
    width: 100%;

    .secTitle {
        .title {
            width: max-content;
            margin: 1rem 0;
            position: relative;
            z-index: 2;
            color: var(--textColor);

            &::after {
                background: var(--SecondaryColor);
                position: absolute;
                width: 120px;
                content: '';
                height: 5px;
                z-index: -1;
                right: 0;
                bottom: 5px;
            }
        }
    }


    .secContent {
        justify-content: center;
        gap: 1.5rem;

        .singleDestination {
            row-gap: 10px;
            border-radius: 10px;
            // padding: 1rem;
            height: 100%;
            overflow: hidden;
            display: grid;
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            background: var(--cardBG);
            align-items: center;
            &:hover {
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                background: var(--cardHover);
                transition: 0.3s ease;
            }

            .imageDiv {
                width: 100%;
                overflow: hidden;
                height: 180px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: 2s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }


            .cardInfo {
                padding: 1rem;

                .destTitle {
                    color: var(--blackColor);
                    font-size: 1.25rem;
                }

                .continent {
                    gap: 0.5rem;

                    .icon {
                        font-size: 18px;
                        color: var(--textColor);
                    }

                    .name {
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--textColor);
                    }
                }

                .fees {
                    justify-content: space-between;
                    width: 100%;
                    padding: 1rem;
                    border-top: 1.5px solid var(--greyText);
                    border-bottom: 1.5px solid var(--greyText);
                    margin: 1rem 0;

                    .grade {
                        color: var(--textColor);
                        display: flex;
                        line-height: 20px;
                        max-width: 100px;
                        justify-content: center;
                        align-items: center;

                        small {
                            background: var(--gradientColor);
                            color: var(--whiteColor);
                            padding: 1px 10px;
                            border-radius: 1rem;
                            text-align: center;
                            font-size: 10px;
                        }
                    }

                    .price {
                        font-size: 2rem;
                        color: var(--blackColor);
                    }
                }

                .desc {
                    font-weight: 500;
                    font-size: 13.5px;
                    color: var(--textColor);
                }
            }
        }
    }
}