:root {
    --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .overlay {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        background: rgb(47, 106, 126);
        mix-blend-mode: hard-light;
    }
    video {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        position: absolute;
    }
    .homeContent {
        height: max-content;
        width: 100%;
        padding: 8rem 1.5rem 3rem;
        align-items: stretch;
        justify-content: center;
        display: flex;
        margin: auto;
        color: var(--whiteColor);
        z-index: 100;
        flex-direction: column;
        row-gap: 3rem;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                font-size: 1.8rem;
                position: relative;
            }
        }

        .cardDiv {
            background: var(--whiteColor);
            gap: 1rem;
            position: relative;
            border-radius: 10px;
            padding: 2rem 1rem;

            label {
                font-size: 13px;
                display: block;
                padding-bottom: 10px;
                font-weight: 500;
                color: var(--textColor);
            }

            .label_total {
                align-items: center;
                justify-content: space-between;

                .total {
                    padding-bottom: 10px;
                    color: var(--textColor);
                    font-size: 18px;
                }
            }

            .input {
                background: var(--inputColor);
                height: 40%;
                border-radius: 3rem;
                padding: 0 1rem;

                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    font-weight: 500;
                    font-size: 13px;
                    background: none;
                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icon {
                    color: var(--PrimaryColor) !important;
                    font-size: 18px;
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                }
            }


            .searchOptions {
                width: max-content;
                bottom: -0.7rem;
                position: absolute;
                background: var(--gradientColor);
                cursor: pointer;
                border-radius: 3rem;
                column-gap: 0.8rem;
                left: 50%;
                justify-content: center;
                transform: translate(-50%);
                padding: 5px 1rem;

                &:hover {
                    background: var(--PrimaryColor);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .homeFooterIcons {
            justify-content: space-between;
            width: 100%;

            .icon {
                font-weight: 600;
                font-size: 20px;
                color: var(--whiteColor);
                margin: 0 5px;
                &:hover {
                    color: var(--PrimaryColor);
                }
            }
        }
    }
}

/* media queries for small devices */
