:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: rgb(47, 106, 126);
  mix-blend-mode: hard-light;
}
.home video {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.home .homeContent {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 8rem 1.5rem 3rem;
  align-items: stretch;
  justify-content: center;
  display: flex;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
  flex-direction: column;
  row-gap: 3rem;
}
.home .homeContent .textDiv {
  padding: 2rem 0;
}
.home .homeContent .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.home .homeContent .textDiv .homeTitle {
  font-size: 1.8rem;
  position: relative;
}
.home .homeContent .cardDiv {
  background: var(--whiteColor);
  gap: 1rem;
  position: relative;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.home .homeContent .cardDiv label {
  font-size: 13px;
  display: block;
  padding-bottom: 10px;
  font-weight: 500;
  color: var(--textColor);
}
.home .homeContent .cardDiv .label_total {
  align-items: center;
  justify-content: space-between;
}
.home .homeContent .cardDiv .label_total .total {
  padding-bottom: 10px;
  color: var(--textColor);
  font-size: 18px;
}
.home .homeContent .cardDiv .input {
  background: var(--inputColor);
  height: 40%;
  border-radius: 3rem;
  padding: 0 1rem;
}
.home .homeContent .cardDiv .input input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  background: none;
}
.home .homeContent .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input input::placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input .icon {
  color: var(--PrimaryColor) !important;
  font-size: 18px;
  margin-left: 10px;
}
.home .homeContent .cardDiv .input .input[type=range] {
  background: blue;
}
.home .homeContent .cardDiv .searchOptions {
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  position: absolute;
  background: var(--gradientColor);
  cursor: pointer;
  border-radius: 3rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  left: 50%;
  justify-content: center;
  transform: translate(-50%);
  padding: 5px 1rem;
}
.home .homeContent .cardDiv .searchOptions:hover {
  background: var(--PrimaryColor);
}
.home .homeContent .cardDiv .searchOptions .icon {
  font-size: 18px;
}
.home .homeContent .cardDiv .searchOptions span {
  font-size: 13px;
}
.home .homeContent .homeFooterIcons {
  justify-content: space-between;
  width: 100%;
}
.home .homeContent .homeFooterIcons .icon {
  font-weight: 600;
  font-size: 20px;
  color: var(--whiteColor);
  margin: 0 5px;
}
.home .homeContent .homeFooterIcons .icon:hover {
  color: var(--PrimaryColor);
}

/* media queries for small devices */
@media screen and (min-width: 500px) {
  .home .homeContent .textDiv .smallText {
    font-size: 16px;
  }
  .home .homeContent .textDiv .homeTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .home .homeContent .textDiv .homeTitle::after {
    content: "";
    position: absolute;
    height: 5px;
    background: var(--SecondaryColor);
    z-index: -1;
    bottom: 5px;
    right: 0px;
    width: 145px;
  }
  .home .homeContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .home .homeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .home {
    height: 70vh;
  }
}
@media screen and (min-width: 1240px) {
  .home {
    height: 95vh;
  }
  .home .homeContent {
    padding-left: 0;
    padding-right: 0;
  }
  .home .homeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .home .homeContent .cardDiv .input {
    margin-bottom: 1rem;
  }
  .home .homeContent .cardDiv .searchOptions {
    padding: 8px 1rem;
    bottom: -1rem;
  }
  .home .homeContent .cardDiv .searchOptions span {
    font-size: 17px;
  }
}/*# sourceMappingURL=home.css.map */