:root {
    --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.footer {
    position: relative;
    padding: 2rem, 0;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .videoDiv {
        height: 100%;
        width: 100%;
        position: absolute;

        video {
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            position: absolute;
            background: rgb(10, 84, 107, 0.307);
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
        }
    }

    .secContent {
        width: 100%;
        height: max-content;
        display: flex;
        padding: 2rem initial;
        justify-content: center;
        align-items: center;
        margin: auto;
        z-index: 100;
        flex-direction: column;
        row-gap: 2rem;

        .contactDiv {
            gap: 1rem;
            justify-content: space-between;
            flex-direction: column;

            .text {
                small {
                    font-weight: 400;
                    font-size: 13px;
                    color: var(--whiteColor);
                }

                h2 {
                    font-size: 1.8rem;
                    color: var(--whiteColor);
                }
            }

            .inputDiv {
                gap: 1rem;
                flex-direction: column;
                width: 100%;

                input {
                    width: 100%;
                    padding: 0.5rem 0.6rem ;
                }
            }
        }
    }
}