:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.footer {
  position: relative;
  padding: 2rem, 0;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer .videoDiv {
  height: 100%;
  width: 100%;
  position: absolute;
}
.footer .videoDiv video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .videoDiv::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.footer .secContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  padding: 2rem initial;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 100;
  flex-direction: column;
  row-gap: 2rem;
}
.footer .secContent .contactDiv {
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
.footer .secContent .contactDiv .text small {
  font-weight: 400;
  font-size: 13px;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .text h2 {
  font-size: 1.8rem;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .inputDiv {
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
.footer .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--whiteColor);
  border-radius: 3rem;
  color: var(--whiteColor);
  background: transparent;
  outline: none;
}
.footer .secContent .contactDiv .inputDiv input::-moz-placeholder {
  opacity: 0.5;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .inputDiv input::placeholder {
  opacity: 0.5;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .inputDiv .btn {
  color: var(--whiteColor);
  justify-content: center;
  font-weight: 500;
  width: 100%;
  gap: 0.5rem;
}
.footer .secContent .contactDiv .inputDiv .btn .icon {
  font-size: 18px;
}
.footer .secContent .footerCard {
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  position: relative;
  background: var(--bodyColor);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1rem;
}
.footer .secContent .footerCard .footerIntro {
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  row-gap: 0.5rem;
  justify-content: center;
}
.footer .secContent .footerCard .logoDiv .logo {
  color: var(--blackColor);
  font-weight: 600;
}
.footer .secContent .footerCard .logoDiv .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  margin-right: 10px;
}
.footer .secContent .footerCard .footerPara {
  color: var(--textColor);
  font-size: 13px;
}
.footer .secContent .footerCard .footerSocials {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.footer .secContent .footerCard .footerSocials .icon {
  font-size: 20px;
  color: var(--blackColor);
}
.footer .secContent .footerCard .footerSocials .icon:hover {
  color: var(--PrimaryColor);
}
.footer .secContent .footerCard .footerLinks {
  gap: 1rem;
  justify-content: space-between;
  flex-basis: 50%;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.footer .secContent .footerCard .footerLinks .linkGroup .groupTitle {
  color: var(--blackColor);
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList {
  font-size: 15px;
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList .icon {
  font-size: 15px;
  color: var(--greyText);
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList:hover {
  color: var(--PrimaryColor);
  transform: translateX(7px);
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList:hover .icon {
  color: var(--SecondaryColor);
}
.footer .secContent .footerCard .footerDiv {
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.5rem 2rem;
  background: var(--SecondaryColor);
}
.footer .secContent .footerCard .footerDiv small {
  color: var(--whiteColor);
  font-size: 12px;
}/*# sourceMappingURL=footer.css.map */